/**************************/
/*     02. Navigation     */
/**************************/

@font-face {
    font-family: "Ink Free";
    src: url("/static/fonts/ttf/Inkfree.ttf") format("truetype");
}

/* Dropdown Menu */
.navbar-custom .dropdown:hover > .dropdown-menu {
	display: block; /* this makes the dropdown menu stay open while hovering it */
	min-width: auto;
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

.navbar-custom .dropdown-menu {
	margin-top: 0;
	border: none;
	border-radius: 0.25rem;
	background-color: rgba(255,255,255,1);
}

.navbar-custom .dropdown-item {
	color: rgb(187,187,187);
	text-decoration: none;
}

.navbar-custom .dropdown-item:hover {
    background-color: rgba(255,255,255,0);
    color: rgb(187,187,187);
}

.navbar-custom .dropdown-item .item-text {
	font: 600 0.875rem/0.875rem "Open Sans", sans-serif;
}

.navbar-custom .dropdown-item:hover .item-text {
	color: #64b3f4;
}


.btn-solid-lg {
	display: inline-block;
	padding: 1.375rem 2.125rem 1.375rem 2.125rem;
	border: 0.125rem solid #64b3f4;
	border-radius: 0.25rem;
	background-color: #64b3f4;
	color: #fff;
	font: 700 0.75rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #64b3f4;
	text-decoration: none;
}

.navbar-custom {
    height: 60px;
    z-index: 800;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 20px;
    background: transparent;
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .2);
    font: 600 0.875rem/0.875rem "Open Sans", sans-serif;
    transition: all 0.2s;
}


.navbar-custom::before {
    filter: blur(20px);
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
}

.navbar-custom .navbar-brand {
    font-size: 0;
}

.navbar-custom .navbar-brand.logo-image img {
    width: 7.0625rem;
    height: 2rem;
    -webkit-backface-visibility: hidden;
}

.navbar-custom .navbar-brand.logo-text {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font: 700 2.25rem/1.5rem "Montserrat", sans-serif;
    color: #fff;
    text-decoration: none;
}

.navbar-custom .navbar-nav {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
}

.navbar-custom .nav-item .nav-link {
    padding: 0.625rem 0.75rem 0.625rem 0.75rem;
    color: rgb(187, 187, 187);
    text-decoration: none;
    transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
    color: #64b3f4;
}

.navbar-custom .searches {
    font-size: 13px;
    width: 300px;
    margin-left: 10rem;
}

.search_form {
    width: 20rem;
}


@media (min-width: 500px) {

    /* General Styles */
    .p-heading {
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }

    /* end of general styles */
    /* Navigation */
    .navbar-custom {
        padding: 2.125rem 1.5rem 2.125rem 2rem;
        box-shadow: none;
        background: transparent;
    }

    .navbar-custom .navbar-brand.logo-text {
        color: #fff;
    }

    .navbar-custom .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }

    .navbar-custom .nav-item .nav-link {
        padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    }

    .navbar-custom .nav-item .nav-link:hover,
    .navbar-custom .nav-item .nav-link.active {
        color: #64b3f4;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0.375rem 1.5rem 0.375rem 2rem;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .3);
    }

    .navbar-custom.top-nav-collapse .navbar-brand.logo-text {
        color: #fff;
    }

    .navbar-custom.top-nav-collapse .nav-item .nav-link {
        color: rgb(187, 187, 187);
    }

    .navbar-custom.top-nav-collapse .nav-item .nav-link:hover,
    .navbar-custom.top-nav-collapse .nav-item .nav-link.active {
        color: #64b3f4;
    }


    .navbar-custom .dropdown-menu {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: 0.75rem solid rgba(0, 0, 0, 0);
        border-radius: 0.25rem;
        box-shadow: 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.03);
    }

    .navbar-custom.top-nav-collapse .dropdown-menu {
        border-top: 0.125rem solid rgba(0, 0, 0, 0);
    }

    .navbar-custom .dropdown-item {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    .navbar-custom .dropdown-items-divide-hr {
        width: 84%;
    }

    .search_form {
        width: 14rem;
    }


    /* end of navigation */

}

@media (min-width: 768px) {

    /* General Styles */
    .p-heading {
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }

    /* end of general styles */
    /* Navigation */
    .navbar-custom {
        padding: 2.125rem 1.5rem 2.125rem 2rem;
        box-shadow: none;
        background: transparent;
    }

    .navbar-custom .navbar-brand.logo-text {
        color: #fff;
    }

    .navbar-custom .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }

    .navbar-custom .nav-item .nav-link {
        padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    }

    .navbar-custom .nav-item .nav-link:hover,
    .navbar-custom .nav-item .nav-link.active {
        color: #64b3f4;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0.375rem 1.5rem 0.375rem 2rem;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .3);
    }

    .navbar-custom.top-nav-collapse .navbar-brand.logo-text {
        color: #fff;
    }

    .navbar-custom.top-nav-collapse .nav-item .nav-link {
        color: rgb(187, 187, 187);
    }

    .navbar-custom.top-nav-collapse .nav-item .nav-link:hover,
    .navbar-custom.top-nav-collapse .nav-item .nav-link.active {
        color: #64b3f4;
    }


    .navbar-custom .dropdown-menu {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: 0.75rem solid rgba(0, 0, 0, 0);
        border-radius: 0.25rem;
        box-shadow: 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.03);
    }

    .navbar-custom.top-nav-collapse .dropdown-menu {
        border-top: 0.125rem solid rgba(0, 0, 0, 0);
    }

    .navbar-custom .dropdown-item {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    .navbar-custom .dropdown-items-divide-hr {
        width: 84%;
    }

    .navbar-custom .dropdown-menu {
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-top: 0.75rem solid rgba(0, 0, 0, 0);
		border-radius: 0.25rem;
		box-shadow: 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.03);
	}


    /* end of navigation */

}
