{% extends "Album/navbar.html" %}

{% block title %}
    <title>My Pics / {{ now_folder_name }}</title>
{% endblock %}

{% block css %}
    <link href="/static/vendor/bootstrap-fileinput-5.1.5/css/fileinput.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap-fileinput-5.1.5/themes/explorer-fas/theme.min.css" rel="stylesheet">
    <link href="/static/vendor/fontawesome-5.15.3/css/all.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/static/css/preload/main.css" rel="stylesheet">
    <link href="/static/css/popbtn/main.css" rel="stylesheet">
    <link href="/static/css/upload/main.css" rel="stylesheet">
    <link href="/static/css/mypics/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/mypics/styles.css" rel="stylesheet">
    <link href="/static/css/download/main.css" rel="stylesheet">

{% endblock %}

<!--文件夹点击进入页，即文件夹内容详情页-->

{% block main %}
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>


    <div class="modal fade" id="launch-upload" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel"
         aria-hidden="true" data-backdrop="static" style="overflow-y: auto;">
        <div class="modal-dialog modal-lg mx-auto" role="document" style="max-width: 90%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadModalLabel">UPLOAD</h5>
                </div>
                <div class="modal-body">
                    <div class="file-loading">
                        <input id="upload-input" class="file-loading" type="file" name="upload_img" multiple
                               accept="image/*" data-browse-on-zone-click="true">
                    </div>
                    <div id="kartik-file-errors"></div>
                </div>
                <div class="modal-footer">
                    <button id="modal_close" type="button" class="btn btn-secondary" data-dismiss="modal"
                            style="padding: 0.5rem 3rem;">Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="face-process" tabindex="-1" role="dialog"
         aria-labelledby="faceProcessModalLabel"
         aria-hidden="true" data-backdrop="static" style="overflow-y: auto;">
        <div class="modal-dialog modal-lg mx-auto" role="document" style="max-width: 60%;margin-top:15rem;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="faceProcessModalLabel">Face Recognition Processing ... </h5>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div id="face_process_bar"
                             class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                             role="progressbar"
                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                             style="width: 0;">0%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="tag-process" tabindex="-1" role="dialog"
         aria-labelledby="tagProcessModalLabel"
         aria-hidden="true" data-backdrop="static" style="overflow-y: auto;">
        <div class="modal-dialog modal-lg mx-auto" role="document" style="max-width: 60%;margin-top:15rem;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tagProcessModalLabel">Tag Recognition Processing ... </h5>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div id="tag_process_bar"
                             class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                             role="progressbar"
                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                             style="width: 0;">0%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-img-process" tabindex="-1" role="dialog"
         aria-labelledby="deleteimgProcessModalLabel"
         aria-hidden="true" data-backdrop="static" style="overflow-y: auto;">
        <div class="modal-dialog modal-lg mx-auto" role="document" style="max-width: 60%;margin-top:15rem;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteimgProcessModalLabel">Deleting Image(s) ... </h5>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div id="delete_img_process_bar"
                             class="progress-bar bg-danger progress-bar-striped progress-bar-animated"
                             role="progressbar"
                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                             style="width: 0;">0%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Counter -->
    <div id="counter" class="container" style="padding: 0 ;margin-top: 5rem">
        <div class="cell">
            <div class="counter-value number-count" data-count={{ count }}>1</div>
            <div class="counter-info">Images<br>In Total</div>
        </div>
        <div class="cell" style="width: 180px">
            <div class="counter-value number-count" data-count={{ capacity_now }}>1</div>
            <div class="counter-info">MB<br>Used</div>
        </div>
        <div class="cell">
            <div class="counter-value number-count" data-count="5">1</div>
            <div class="counter-info">GB<br>In Total</div>
        </div>
        <input id="now_folder_fake_name" type="hidden" style="display: none;" value={{ now_folder_fake_name }}>
    </div>
    <!-- end of counter -->

    <!-- Projects -->
    <div id="projects" class="filter" style="padding-top: 1rem;padding-bottom: 1rem">
        <div class="container" style="padding: 0;">
            <div class="row">
                <div class="col-lg-12" style="padding: 0;height: 6rem">
                    <div class="section-title" style="font-family: 'MV Boli'">Images</div>
                    <h2 style="font-family: 'Ink Free'">Images That You're Proud Of</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <input id="select_img_cnt" type="hidden" style="display: none;">
            <div class="row col-lg-12 col-md-12 col-sm-12" style="padding: 0 2rem;">
                <nav class="breadcrumb mx-auto"
                     style="margin:0;background:rgba(242,242,242,0.8);width: 100%;border-radius: 1rem;border-bottom: 2px solid #40c4ff;box-sizing: border-box;font-weight: bold;color: #64b3f4;">
                    <a class="breadcrumb-item" href="/mypics" style="color: #64b3f4;">Mypics</a>
                    <a class="breadcrumb-item" href="/mypics?t=f" style="color: #64b3f4;">Folder</a>
                    <a class="breadcrumb-item" href="" style="color: #64b3f4;">{{ now_folder_name }}</a>
                </nav>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="grid" style="text-align: center;background-color: rgb(250,250,250)">
                        <form id="imageFewForm">
                            {% for p in Pics %}
                                <div class="element-item development"
                                     id="img_{{ p.id }}"
                                     style="text-align: center;background-color: rgb(250,250,250)">
                                    <div>
                                        <a title="{{ p.name }}" class="popup-with-move-anim" href='#box_{{ p.id }}'>
                                            <div class="element-item-overlay"><span class="element_1"
                                                                                    style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin: 0 1rem;background-color: rgba(0,0,0,0.1);">{{ p.name }} </span>
                                            </div>
                                            <div class="zoomImage11 element_2"
                                                 style="background-image: url({{ p.path }});border-radius: 0.5rem;"></div>
                                        </a>
                                        <a id="img_model_{{ p.id }}" class="choose_model_img"
                                           style="border-radius: 0.5rem;cursor: pointer;" title="{{ p.name }}">
                                            <div class="element-item-overlay"><span class="element_3"
                                                                                    style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin: 0 1rem;">{{ p.name }}</span>
                                            </div>
                                            <div class="zoomImage11 choose_zoomImage11 element_4"
                                                 style="background-image: url({{ p.path }});border-radius: 0.25rem;"></div>
                                            <input class="download_select element_5" type="checkbox"
                                                   style="display: none" value={{ p.fake_name }} name="img_name">
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}

                        </form>

                    </div> <!-- end of grid -->
                    <!-- end of filter -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of filter -->
    <!-- end of projects -->

    <!-- pages-->
    <div class="container" style="width:5rem;position: fixed ;right: 0;bottom: 10rem">
        <button id="top" class="btn-small" type="button" value="zero">
            <i class="fas fa-arrow-up"></i>
        </button>
    </div>
    <div class="container" style="width:5rem;position: fixed ;right: 0;bottom: 3rem">
        <button id="back" class="btn-small" type="button" value="zero"
                style="display: none;margin-bottom: 0.5rem">
            <i class="fas fa-angle-up"></i>
        </button>
        <button id="next" class="btn-small" type="button" value="zero"
                style="display: none;margin: 0 auto;">
            <i class="fas fa-angle-down"></i>
        </button>
    </div>
    <!--end of pages-->



    <!-- Lightbox -->
    {% for p in pics %}
        <div id='box_{{ p.id }}' class="lightbox-basic zoom-anim-dialog mfp-hide">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-8" style="text-align:center;margin:auto 0;">
                    <img class="img-fluid element_6" src={{ p.path }} alt={{ p.name }}>
                </div> <!-- end of col -->
                <div class="col-lg-4 btn-local0" style="color: rgb(147,147,147)">
                    <h3 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;color: black"
                        class="element_7" title="{{ p.name }}">{{ p.name }}</h3>
                    <hr class="line-heading">
                    <h6 style="margin-bottom: 0">UPLOAD TIME:</h6>
                    <b class="element_8">  {{ p.upload_time }}</b>
                    <h6 style="margin-top: 1rem;margin-bottom: 0">SIZE:</h6>
                    <b class="element_9">  {{ p.size }}&nbsp;MB</b>
                    <h6 style="margin-top: 1rem;margin-bottom: 0">WIDTH:</h6>
                    <b class="element_10">  {{ p.height }}&nbsp;px</b>
                    <h6 style="margin-top: 1rem;margin-bottom: 0">HEIGHT:</h6>
                    <b class="element_11">  {{ p.width }}&nbsp;px</b>
                    <h6 style="margin-top: 1rem;margin-bottom: 0">TAG:</h6>
                    <b class="element_12">  {{ p.nowtag }}</b>
                    <div class="btn-local1" style="margin-top: 3rem;">
                        <form class="downloadOneForm">
                            <input class="download_input element_13" value={{ p.fake_name }} type="hidden"
                                   name="img_name">
                            <button class="download_one btn-small" type="button"><i
                                    class="uil uil-image-download"></i>&nbsp;DownLoad
                            </button>
                            <button class="getFaceRec btn-small" type="button" style="margin-left:0.5rem;">
                                <i class="uil uil-smile-wink-alt"></i>&nbsp;Get Face Recogntion
                            </button>
                            <button class="delete_one rm-btn-small" type="button" style="text-align: center"><i
                                    class="uil uil-image-times"></i>&nbsp;Delete
                            </button>
                        </form>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of lightbox-basic -->
    {% endfor %}
    <!-- end of lightbox -->


    <div id="image-pop">
        <div class="container upload_btn uploadbtn popbtn">
            <div class="float-btn-group">
                <button type="button" class="btn-float blue" data-toggle="modal"
                        data-target="#launch-upload" title="Upload">
                    <i class="uil uil-image-upload"></i>
                </button>
            </div>
        </div>
        <div class="container popbtn">
            <div class="float-btn-group">
                <button id="change_model" class="btn-float btn-triger blue" type="button" value="select"
                        title="Select">
                    <i class="select_text uil uil-list-ul"></i>
                    <i class="view_text uil uil-left-arrow-from-left" style="display: none"></i>
                </button>
                <div class="btn-list">
                    <button id="getTag" class="btn-float yellow" type="button" title="Get All Tags">
                        <i class="uil uil-tag-alt"></i>
                    </button>
                    <button id="getFewFaceRec" class="btn-float yellow" type="button" title="Get Face Recognition">
                        <i class="uil uil-smile-squint-wink-alt"></i>
                    </button>
                    <button id="imgs_delete_few" class="btn-float pink" type="button">
                        <i class="uil uil-image-times"></i>
                    </button>
                    <button id="imgs_download_few" class="btn-float green" type="button">
                        <i class="uil uil-image-download"></i>
                    </button>
                    <button id="select_all" class="btn-float blue" type="button" value="zero" title="Select All">
                        <i class="select_all_text uil uil-book-medical"></i>
                        <i class="cancel_text uil uil-times-circle" style="display: none;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block js %}
    <script src="/static/vendor/bootstrap-fileinput-5.1.5/js/fileinput.min.js"></script>
    <script src="/static/vendor/bootstrap-fileinput-5.1.5/js/plugins/piexif.min.js"></script>
    <script src="/static/vendor/bootstrap-fileinput-5.1.5/js/plugins/sortable.min.js"></script>
    <script src="/static/vendor/bootstrap-fileinput-5.1.5/themes/fas/theme.min.js"></script>
    <script src="/static/vendor/bootstrap-fileinput-5.1.5/themes/explorer-fas/theme.min.js"></script>
    <script src="/static/vendor/popper/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="/static/vendor/jquery/jquery.easing.min.js"></script>
    <script src="/static/vendor/jquery/jquery.magnific-popup.js"></script><!-- Magnific Popup for lightboxes -->
    <script src="/static/js/upload/main.js"></script>
    <script src="/static/js/popbtn/main.js"></script>
    <script src="/static/js/mypics_folder/main.js"></script>
    <script src="/static/js/download/main.js"></script>
    <script src="/static/js/delete_img/main.js"></script>
    <script src="/static/js/getTag/main.js"></script>
    <script src="/static/js/getFaceRec/main.js"></script>
    <script src="/static/js/preload/main.js"></script>
{% endblock %}