{% extends "Album/navbar.html" %}

{% block title %}
    <title>My Pics</title>
{% endblock %}

{% block css %}
    <link href="/static/vendor/bootstrap-fileinput-5.1.5/css/fileinput.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap-fileinput-5.1.5/themes/explorer-fas/theme.min.css" rel="stylesheet">
    <link href="/static/vendor/fontawesome-5.15.3/css/all.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/static/css/preload/main.css" rel="stylesheet">
    <link href="/static/css/mypics/swiper.css" rel="stylesheet">
    <link href="/static/css/mypics/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/mypics/styles.css" rel="stylesheet">
    <link href="/static/css/upload/main.css" rel="stylesheet">
    <link href="/static/css/download/main.css" rel="stylesheet">

{% endblock %}

{% block main %}
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>

    <div class="modal fade" id="launch-add" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
         aria-hidden="true" data-backdrop="static" style="overflow-y: auto;">
        <div class="modal-dialog modal-lg" role="document" style="max-width: 50%;margin-top: 15rem;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add Folder</h5>
                </div>
                <div class="modal-body">
                    <form id="addFolderForm">
                        <div class="form-group">
                            <input value="" class="form-control-input" id="input_folder_name" tabindex="1" name="folder_name"
                                   autocomplete="off" autofocus>
                            <label class="label-control" for="input_folder_name"><i class="uil uil-folder-info"></i>&nbsp;Folder
                                Name</label>
                        </div>
                    </form>
                    <div id="kartik-file-errors"></div>
                </div>
                <div class="modal-footer">
                    <button id="modal_ok" type="button" class="btn btn-success"
                            style="padding: 0.5rem 3rem;">OK
                    </button>
                    <button id="modal_close" type="button" class="btn btn-secondary" data-dismiss="modal"
                            style="padding: 0.5rem 3rem;">Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Counter -->
    <div id="counter">
        <div class="cell">
            <div class="counter-value number-count" data-count={{ count }}>1</div>
            <div class="counter-info">Folder(s)<br>In Total</div>
        </div>
        <div class="cell">
            <div class="counter-value number-count" data-count={{ capacity_now }}>1</div>
            <div class="counter-info">MB<br>Used</div>
        </div>
        <div class="cell">
            <div class="counter-value number-count" data-count="5">1</div>
            <div class="counter-info">GB<br>In Total</div>
        </div>
    </div>
    <!-- end of counter -->

    <!-- Projects -->
    <div id="projects" class="filter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">FOLDER</div>
                    <h2 class="test">FOLDER That You're Proud Of</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div>
                <button type="button" class="upload-modal-btn-solid-lg" data-toggle="modal"
                        data-target="#launch-add" style="display: inline-block;">
                    <i class="uil uil-folder-plus"></i>&nbsp;Add Folder
                </button>

                <button id="change_model" class="btn-solid-reg" type="button" value="select"
                        style="display:inline-block;float: right;margin: 0 1rem;">SELECT
                </button>


                <button id="delete_few" class="btn-solid-reg" type="button"
                        style="display: none;float: right;margin: 0 1rem;">Delete&nbsp;<span
                        id="select_cnt" style="font-weight: bold;">0</span> Selected
                </button>

                <button id="select_all" class="btn-solid-reg" type="button" value="zero"
                        style="display: none;float: right;margin: 0 1rem;">SELECT
                    ALL
                </button>


            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="grid">
                        <form id="downloadFewForm">
                            {% for p in folders %}
                                <div id='img_{{ p.id }}' class="element-item development">
                                    <div>
                                        <a title={{ p.name }} class="popup-with-move-anim" href={{ p.href }} name={{ p.name }}>
                                            <div class="element-item-overlay"><span class="element_1"
                                                                                    style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin: 0 1rem;">{{ p.name }} </span>
                                            </div>
                                            <div class="zoomImage11 element_2"
                                                 style="background-image: url({{ p.path }})"></div>
                                        </a>
                                        <a title={{ p.name }} class="choose_model_img" name={{ p.name }}>
                                            <div class="element-item-overlay "><span class="element_3"
                                                                                     style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin: 0 1rem;">{{ p.name }}</span>
                                            </div>
                                            <div class="zoomImage11 choose_zoomImage11 element_4"
                                                 style="background-image: url({{ p.path }});"></div>
                                            <input class="download_select element_5" type="checkbox"
                                                   style="display: none"
                                                   value={{ p.fake_name }} name="img_name">
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}

                        </form>

                    </div> <!-- end of grid -->
                    <!-- end of filter -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of filter -->
    <!-- end of projects -->

    <!-- pages-->
    <div style="text-align: center">
        <button id="back" class="btn-small" type="button"
                style="display:inline-block;">
            <<
        </button>
        <button id="next" class="btn-small" type="button"
                style="display: none;">
            >>
        </button>
    </div>

    <!--end of pages-->

{% endblock %}

{% block js %}
    <script src="/static/vendor/bootstrap-fileinput-5.1.5/js/fileinput.min.js"></script>
    <script src="/static/vendor/bootstrap-fileinput-5.1.5/js/plugins/piexif.min.js"></script>
    <script src="/static/vendor/bootstrap-fileinput-5.1.5/js/plugins/sortable.min.js"></script>
    <script src="/static/vendor/bootstrap-fileinput-5.1.5/themes/fas/theme.min.js"></script>
    <script src="/static/vendor/bootstrap-fileinput-5.1.5/themes/explorer-fas/theme.min.js"></script>
    <script src="/static/vendor/popper/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="/static/vendor/jquery/jquery.easing.min.js"></script>
    <script src="/static/vendor/swiper/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="/static/vendor/jquery/jquery.magnific-popup.js"></script><!-- Magnific Popup for lightboxes -->
    <script src="/static/vendor/isotype/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
    <script src="/static/js/upload/main.js"></script>
    <script src="/static/js/mypics/main.js"></script>
    <script src="/static/js/delete_folder/main.js"></script>
    <script src="/static/js/preload/main.js"></script>
{% endblock %}