<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}{% endblock %}
    <link href="/static/vendor/bootstrap-4.6.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/jquery-confirm-v3.3.4/dist/jquery-confirm.min.css" rel="stylesheet">
    {% block css %}{% endblock %}
    <link href="/static/vendor/toastr/toastr.min.css" rel="stylesheet">
    <link href="/static/css/scrollbar.css" rel="stylesheet">
    <link href="/static/css/unicons.css" rel="stylesheet">
    <link href="/static/css/navbar.css" rel="stylesheet">
    <link href="/static/css/sidebar/stylish-portfolio.min.css" rel="stylesheet">


</head>
<body id="alpha">

<!--sidebar-->
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand" style="padding-top: 10px">
            <a class="js-scroll-trigger" href="#">
                <i class="fa fa-bars" style="color:rgb(187,187,187) ;width: 12.25px;height: 14px"></i>
            </a>
            <img src="/static/image/AIAlbum.svg" alt="alternative"
                 style="width: 5.5rem;margin-top: 0;margin-left: 0.5rem">
        </li>

        <li class="sidebar-nav-item">
            <a href="#" style="color: rgb(187, 187, 187) ;margin-left: 1rem">
                <i class="fas fa-folder-open" style="color:rgb(187,187,187);margin-right: 2px"></i>
                <b>Folders</b>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="#" style="color: rgb(187, 187, 187);margin-left: 1rem">
                <i class="fas fa-tags" style="color:rgb(187,187,187);margin-right: 2px"></i>
                <b>Tags</b>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="#" style="color: rgb(187, 187, 187);margin-left: 1rem">
                <i class="fas fa-smile-wink" style="color:rgb(187,187,187);margin-right: 2px"></i>
                <b>Faces</b>
            </a>
        </li>
    </ul>
</nav>
<!--end sidebar-->


<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top " style="height: 60px ;z-index: 2">
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->
    <!-- Image Logo -->
    {% ifequal request.session.is_login None %}
        <a class="navbar-brand logo-image" href=""><img src="/static/image/AIAlbum-S.svg" alt="alternative"></a>
    {% endifequal %}
    {% ifequal request.session.is_login True %}

        <a class="menu-toggle rounded" href="#">
            <i class="fa fa-bars" style="color:rgb(187,187,187)"></i>
        </a>
        <a class="navbar-brand logo-image" href=""><img src="/static/image/AIAlbum.svg" alt="alternative"></a>

        <div class="modal-body" style="padding: 0">
            <form id="search_tag" class="search_form">
                <div class="form-group" style="margin-bottom: 0">
                    <input type="text" style="display:none">{# 防止只有一个input框时提交刷新页面 #}
                    <input value="" class="form-control-input" id="input_search_tag"
                           name="search_tag"
                           autocomplete="off"
                           style="padding-top: 16px;padding-bottom: 8px">
                    <label class="label-control" for="input_search_tag"><i class="fas fa-search"></i>&nbsp;Search
                    </label>
                </div>
            </form>
        </div>
    {% endifequal %}


    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">

            {% ifequal request.session.is_login True %}

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#intro">INTRO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">CONTACT</a>
                <li class="nav-item"><a class="nav-link page-scroll">{{ request.session.phone }}</a></li>

            {% endifequal %}

            </li>
        </ul>
    </div>
</nav> <!-- end of navbar -->
<!-- end of navbar -->
{% block main %}{% endblock %}


<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/jquery-confirm-v3.3.4/dist/jquery-confirm.min.js"></script>
<script src="/static/vendor/bootstrap-4.6.0/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/static/vendor/sketch.min.js"></script>
{% block js %}{% endblock %}
<script src="/static/vendor/toastr/toastr.min.js"></script>
<script src="/static/js/navbar.js"></script>

<script src="/static/js/sidebar/stylish-portfolio.min.js"></script>

</body>
</html>