<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}{% endblock %}
    {% load static compress %}
    <link rel="icon" href="{% static 'image/logo.png' %}">
    {% compress css %}
        <link rel="stylesheet" href="{% static 'vendor/bootstrap-4.6.0/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/jquery-confirm-v3.3.4/dist/jquery-confirm.min.css' %}">
        {% block css %}{% endblock %}
        <link rel="stylesheet" href="{% static 'vendor/toastr/toastr.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/pace-1.2.4/themes/blue/pace-theme-flash.css' %}">
        <link rel="stylesheet" href="{% static 'css/scrollbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/unicons.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar_welcome.css' %}">
        <link rel="stylesheet" href="{% static 'css/sidebar/style.css' %}">
    {% endcompress %}
</head>
<body id="alpha">

<!--sidebar-->
<!--
<nav id="sidebar-wrapper" style="box-shadow:0px 0px 10px #000;width:251px">
    <ul class="sidebar-nav">
        <li class="sidebar-brand" style="padding-top: 10px">
            <a class="js-scroll-trigger" href="#">
                <i class="fa fa-bars" style="color:rgb(187,187,187) ;width: 12.25px;height: 14px"></i>
            </a>
            <img src="/static/image/AIAlbum.svg" alt="alternative"
                 style="width: 5.5rem;margin-top: 0;margin-left: 0.5rem">
        </li>

        <li class="sidebar-nav-item">
            <a href="/mypics/?t=f" style="color: rgb(187, 187, 187)">
                <i class="fas fa-folder-open" style="color:rgb(187,187,187);margin-left:1rem;margin-right: 2px"></i>
                <b>Folders</b>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="/tags/" style="color: rgb(187, 187, 187)">
                <i class="fas fa-tags" style="color:rgb(187,187,187);margin-left:1rem;margin-right: 2px"></i>
                <b>Tags</b>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="/face/" style="color: rgb(187, 187, 187)">
                <i class="fas fa-smile-wink" style="color:rgb(187,187,187);margin-left:1rem;margin-right: 2px"></i>
                <b>Faces</b>
            </a>
        </li>
    </ul>
</nav>
-->
<!--end sidebar-->


<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top ">

    <a class="navbar-brand logo-image" href=""><img src="/static/image/AIAlbum-S.svg" alt="alternative"></a>


    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">

            {% ifequal request.session.is_login True %}

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/mypics">MYPICS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/tags/">TAGS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/face/">FACE</a>
                <!-- Dropdown Menu -->
                <li class="nav-item dropdown" style="margin-right: 2rem">
                    <a class="nav-link dropdown-toggle page-scroll" id="navbarDropdown"
                       role="button" aria-haspopup="true" aria-expanded="false" title="{{ request.session.name }}">{{ request.session.name }}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/loginout/"><span class="item-text">Logout</span></a>
                    </div>
                </li>
                <!-- end of dropdown menu -->

            {% endifequal %}

            </li>
        </ul>
    </div>
</nav> <!-- end of navbar -->
<!-- end of navbar -->
{% block main %}{% endblock %}

{% compress js %}
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-4.6.0/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "vendor/jquery-confirm-v3.3.4/dist/jquery-confirm.min.js" %}"></script>
    <script src="{% static "vendor/sketch.min.js" %}"></script>
    {% block js %}{% endblock %}
    <script src="{% static "vendor/toastr/toastr.min.js" %}"></script>
    <script src="{% static "vendor/pace-1.2.4/pace.min.js" %}"></script>
    <script src="{% static "js/navbar.js" %}"></script>
    <script src="{% static "js/sidebar/stylish-portfolio.min.js" %}"></script>
{% endcompress %}
</body>
</html>