<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/navbar.css" rel="stylesheet">
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->
    <!-- Image Logo -->
    <a class="navbar-brand logo-image" href="/welcome/"><img src="/static/image/AIAlbum-S.svg" alt="alternative"></a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            {% block nav %}
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/welcome/">HOME <span class="sr-only">(current)</span></a>
                </li>
            {% endblock %}
        </ul>
    </div>
</nav> <!-- end of navbar -->
<!-- end of navbar -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/welcome/scripts.js"></script>
</body>
</html>