<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}{% endblock %}

    <link href="/static/vendor/bootstrap-4.6.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/Semantic/semantic.css" rel="stylesheet">
    <link href="/static/vendor/jquery-confirm-v3.3.4/dist/jquery-confirm.min.css" rel="stylesheet">
    {% block css %}{% endblock %}
    <link href="/static/vendor/toastr/toastr.min.css" rel="stylesheet">
    <link href="/static/css/scrollbar.css" rel="stylesheet">
    <link href="/static/css/unicons.css" rel="stylesheet">
    <link href="/static/css/navbar.css" rel="stylesheet">

</head>
<body id="alpha">

<!--sidebar-->
<div class="ui sidebar left inverted vertical menu " style="background-color:white;width: 15rem ">
    <div style="height: 5rem">
        <i class="large sidebar icon sidebar-button-side"
           style="color: rgb(187,187,187);margin-top: 1.5rem;margin-left:2rem"></i>
        <img src="/static/image/AIAlbum.svg" alt="alternative" style="width: 6rem;margin-top: 1rem">
    </div>
    <div id="left_bar">
        <a href="/mypics/" class="item i1">
            <div><i class="large image icon"></i>
                My Pics
            </div>
        </a>
        <a class="item i2">
            <div>
                <i class="large tags icon"></i>
                AI Tags
            </div>
        </a>
        <a class="item i3">
            <div>
                <i class="large tags icon"></i>
                Face Tags
            </div>
        </a>
        <a class="item i4">
            <div>
                <i class="uil uil-video"></i>
                Wonderful Moment
            </div>
        </a>
    </div>
</div>
<!--end sidebar-->

<div id="mousemove" style="position:fixed;top:0;z-index:0;"></div>

<div class="pusher">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top " style="height: 50px">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->
        <!-- Image Logo -->
        {% ifequal request.session.is_login None %}
            <a class="navbar-brand logo-image" href=""><img src="/static/image/AIAlbum-S.svg" alt="alternative"></a>
        {% endifequal %}
        {% ifequal request.session.is_login True %}
            <a class="item sidebar-button-nav">
                <i class=" large sidebar icon" style="color:rgb(187,187,187)"></i>
            </a>
            <a class="navbar-brand logo-image" href=""><img src="/static/image/AIAlbum.svg" alt="alternative"></a>
            <form action="/search/" method="post" id="searchForm" style="width: auto; ">
                <div class="ui left icon input">
                    <input class="searches" type="text" placeholder="搜索Album">
                    <i class="search icon"></i>
                </div>
            </form>
        {% endifequal %}


        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">

                {% ifequal request.session.is_login True %}

                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#intro">INTRO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#contact">CONTACT</a>
                    <li class="nav-item"><a class="nav-link page-scroll">{{ request.session.phone }}</a></li>

                {% endifequal %}

                </li>
            </ul>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navbar -->
    {% block main %}{% endblock %}
</div>

<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/Semantic/semantic.js"></script>
<script src="/static/vendor/jquery-confirm-v3.3.4/dist/jquery-confirm.min.js"></script>
<script src="/static/vendor/bootstrap-4.6.0/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/static/vendor/sketch.min.js"></script>
<script src="/static/js/mousemove.js"></script>
{% block js %}{% endblock %}
<script src="/static/vendor/toastr/toastr.min.js"></script>
<script src="/static/js/navbar.js"></script>

</body>
</html>