{% extends "Album/navbar.html" %}

{% block title %}
    <title>Signup</title>
 {% endblock %}

{% block css %}
    <link href="/static/css/login/styles.css" rel="stylesheet">
    <link href="/static/css/preload/main.css" rel="stylesheet">
{% endblock %}

{% block main %}

    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>

    <div id="content" class="container" style="padding-top: 7rem;">
        <div id="signup" class="signup-form" style="padding-top:0.5rem;padding-bottom: 0.5rem;">
            <div class="col-md-12 col-lg-12" style="padding: 0;">
                <div style="text-align: center;margin-bottom: 1.2rem">
                    <img src="/static/image/AIAlbum.svg" width="200" height="70">
                    <h5 style="font-family:'SimHei';font-weight: 700;font-size: 12px;color:#757c80; ">让收藏变得更有乐趣</h5>
                </div>
                <form action="/signup/" method="post" id="signupForm" data-focus="false">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ signup_form.phone }}
                        <label class="label-control" for="signup_phone"><i
                                class="uil uil-mobile-android-alt"></i>Phone</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        {{ signup_form.name }}
                        <label class="label-control" for="signup_name"><i class="uil uil-user"></i>Name</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        {{ signup_form.pwd }}
                        <label class="label-control" for="signup_pwd"><i class="uil uil-padlock"></i>Password</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group" style="margin-bottom: 1.5rem">
                        {{ signup_form.re_pwd }}
                        <label class="label-control" for="re_signup_pwd"><i class="uil uil-padlock"></i>Password</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-message" style="margin-bottom: 1rem;height: 1rem">
                        <div id="signup_msg" class="h3 text-center hidden">{{ message }}</div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control-submit-button" tabindex="5">Signup</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="form-control-signup-button"
                                onclick="window.location.href='/login/'"
                                tabindex="6">
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script src="/static/js/login/scripts.js"></script>
    <script src="/static/js/preload/main.js"></script>
    <script src="/static/js/changebackground.js"></script>
{% endblock %}