{% extends "Album/navbar.html" %}

{% block title %}
    <title>Welcome</title>
{% endblock %}

{% block css %}
    <link href="/static/css/welcome/styles.css" rel="stylesheet">
    <link href="/static/css/preload/main.css" rel="stylesheet">
{% endblock %}

{% block main %}

    <!-- Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>

    <!-- Header -->
    <header id="header" class="header" id="beta">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <h1><span id="js-rotating">INTELLIGENT, SWIFT, CONVENIENT</span> ALBUM</h1>
                            <p class="p-heading p-large">Album is an intelligent album specializing in photo
                                classification
                                powered by Neutral Network </p>
                            {% ifequal request.session.is_login None %}
                                <a class="btn-solid-lg page-scroll" href="/login/"
                                   style="font-size: medium">LOGIN</a>
                            {% endifequal %}

                            {% ifequal request.session.is_login True %}
                                <a class="btn-solid-lg page-scroll" href="/mypics/"
                                   style="font-size: medium">MYPICS</a>
                                <a class="btn-solid-lg page-scroll" href="/loginout/"
                                   style="font-size: medium">LOGINOUT</a>
                            {% endifequal %}
                            <a class="btn-solid-lg page-scroll" href="/admin/" style="font-size: medium">ADMIN</a>
                        </div> <!-- end of col -->
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->
{% endblock %}

{% block js %}
    <script src="/static/js/preload/main.js"></script>
    <script src="/static/js/changebackground.js"></script>
{% endblock %}