<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index</title>
    <link href="/static/css/preload/main.css" rel="stylesheet">
</head>
<body>

<div id="loader-wrapper">
    <div id="loader"></div>
</div>
<div id="content">
    <a href="{% url "Album:login" %}">login</a>
    <a href="{% url "Album:signup" %}">signup</a>
    <a href="/admin/">admin</a>

    {% ifequal request.session.is_login True %}
        <div>
            <h2>phone:{{ request.session.phone }}</h2>
            <h2>name:{{ request.session.name }}</h2>
            <a href="{% url "Album:loginout" %}">loginout</a>
        </div>
    {% endifequal %}
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/preload/main.js"></script>
</body>
</html>